<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouresports.grimstroke.core.mapper.BannerMapper">
    <resultMap id="BannerDtoMap" autoMapping="true" type="com.ouresports.grimstroke.core.dto.BannerDto">
        <id column="id" property="id"/>
        <association property="resource" javaType="com.ouresports.grimstroke.core.dto.BannerResourceDto">
            <result column="resource_type" property="type"/>
            <result column="resource_id" property="id"/>
            <result column="resource_title" property="title"/>
            <result column="resource_cover_image" property="coverImage"/>
        </association>
    </resultMap>

    <select id="selectBannerDtos" resultMap="BannerDtoMap">
        SELECT
        `banners`.*,
        CASE `banners`.`resource_type`
        WHEN 'News' THEN `news`.`title`
        WHEN 'Video' THEN `videos`.`title`
        WHEN 'InfoCollection' THEN `info_collections`.`title`
        ELSE NULL END AS `resource_title`,
        CASE `banners`.`resource_type`
        WHEN 'News' THEN `news`.`cover_image`
        WHEN 'Video' THEN `videos`.`cover_image`
        WHEN 'InfoCollection' THEN `info_collections`.`cover_image`
        ELSE NULL END AS `resource_cover_image`
        FROM `banners`, `news`, `videos`, `info_collections`
        WHERE (`banners`.`resource_type` = 'News' AND `banners`.`resource_id` = `news`.`id`)
        OR (`banners`.`resource_type` = 'Video' AND `banners`.`resource_id` = `news`.`id`)
        OR (`banners`.`resource_type` = 'InfoCollection' AND `banners`.`resource_id` = `news`.`id`)
        OR (`banners`.`resource_type` IS NULL)
        AND ${ew.sqlSegment}
    </select>
</mapper>