<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouresports.grimstroke.core.mapper.NewsMapper">
    <select id="selectNewsDtos" resultType="com.ouresports.grimstroke.core.dto.NewsDto">
        SELECT
          `news`.`id`,
          `news`.`type` AS `type`,
          `news`.`title` AS `title`,
          `news`.`cover_image` AS `cover_image`,
          `news`.`game_id` AS `game_id`,
          `tags`.`name` AS `tag_name`,
          `news`.`content` AS `content`,
          `news`.`associate_id` AS `associate_id`,
          `news`.`sticky`,
          `news`.`enabled`,
          `news`.`created_at`,
          `news`.`deleted_at`,
          COUNT(DISTINCT `comments`.`id`) AS `comment_count`
        FROM `news`
        LEFT OUTER JOIN `comments`
          ON `comments`.`root_type` = 'News' AND `comments`.`root_id` = `news`.`id`
        INNER JOIN `tags` ON `tags`.`id` = `news`.`tag_id`
        WHERE `news`.`deleted_at` IS NULL AND ${ew.sqlSegment}
    </select>
</mapper>