<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouresports.grimstroke.core.mapper.VideoMapper">
    <select id="selectVideoDtos" resultType="com.ouresports.grimstroke.core.dto.VideoDto">
        SELECT
          `videos`.`id` AS `id`,
          `videos`.`created_at` AS `created_at`,
          `videos`.`title` AS `title`,
          `videos`.`cover_image` AS `cover_image`,
          `videos`.`vod_id` AS `vod_id`,
          `videos`.`duration` AS `duration`,
          `videos`.`size` AS `size`,
          `videos`.`game_id` AS `game_id`,
          CONCAT(`par_tags`.`name`,`tags`.`name`) AS `tag_name`,
          `videos`.`sticky` AS `sticky`,
          `videos`.`enabled` AS `enabled`,
          COUNT(DISTINCT `comments`.`id`) AS `comment_count`,
          COUNT(DISTINCT `likes`.`id`) AS `like_count`
        FROM `videos`
        LEFT OUTER JOIN `comments`
          ON `comments`.`root_type` = 'Video' AND `comments`.`root_id` = `videos`.`id`
        LEFT OUTER JOIN `likes`
          ON `likes`.`target_type` = 'Video' AND `likes`.`target_id` = `videos`.`id`
        INNER JOIN `tags` ON `tags`.`id` = `videos`.`tag_id`
        INNER JOIN `tags` AS `par_tags` ON `par_tags`.`id` = `tags`.`parent_tag_id`
        WHERE `videos`.`deleted_at` IS NULL AND ${ew.sqlSegment}
    </select>
</mapper>