<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouresports.grimstroke.info.mapper.TagMapper">
    <select id="selectDtos" resultType="com.ouresports.grimstroke.info.dto.TagDto">
        SELECT
        `tags`.*,
        `par_tags`.`name` AS `parent_tag_name`
        FROM `tags`
        LEFT OUTER JOIN `tags` AS `par_tags` ON `par_tags`.`id` = `tags`.`parent_tag_id`
        WHERE ${ew.sqlSegment}
    </select>
</mapper>